<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sdutcs.mqtt.broker.web.dao.BlackListMapper">

    <resultMap id="BaseResultMap" type="cn.sdutcs.mqtt.broker.web.model.BlackIP">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="op_user" property="opUser" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" javaType="DATE"/>
    </resultMap>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT id, ip, op_user, status, create_time
        FROM ip_black_list
        <where>
            <if test="ip != null">
                and ip=#{ip}
            </if>
            <if test="opUser != null">
                and op_user=#{opUser}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="cn.sdutcs.mqtt.broker.web.model.User">
        INSERT INTO ip_black_list
            (ip, op_user, status, create_time)
        VALUES (#{ip}, #{opUser}, #{status}, NOW())
    </insert>

    <update id="update" parameterType="cn.sdutcs.mqtt.broker.web.model.User">
        UPDATE ip_black_list
        SET ip=#{ip},
            status=#{status},
            op_user=#{opUser}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE
        FROM ip_black_list
        WHERE id = #{id}
    </delete>

    <select id="getOne" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT id, ip, op_user, status, create_time
        FROM ip_black_list
        WHERE ip = #{ip}
    </select>

</mapper>
